@media (min-width: 768px) {
    /* Catalogo */
    .cardtipo{
        font-size: 35px;
    }

    .cDisponibilidad{
        font-size: 20px;
    }

    .card p{
        font-size: 22px;    
    }

    /* Contacto */
    .cImg img{
        width: 150px;
    }

    .cImg a p{
        font-size: 22px;
    }
}